.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 1.25rem;
    color: #49557e;
    font-size: 1.2rem;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.navbar-button{
    background: transparent;
    font-size: 1rem;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-button:hover{
    background-color: tomato;
}
.navbar ul{
    cursor: pointer;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 1.5px solid tomato;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    top: -8px;
    right: -8px;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
}
